<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Album Details</title>
</head>
<body>
  <div>
    <p>Your album title: <%= @album.title %></p>
    <p>It contains the following tracks:</p>
    <!-- <div>
      <% params["track"] %>
    </div> -->
  </div>
</body>
</html>