<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <h2>NEW ALBUM? OH SHIZNITS, GIVE ME YO DEETS:</h2>
  <form method="POST" action="/album">
    <div>
      <label for="album-title">Album title:</label>
      <input id="album-title" type="text" name="album-title" placeholder="Rice and beans" required>
    </div>
    <div>
      <label for="album-year">Album year:</label>
      <input id="album-year" type="number" name="album-year" required>
    </div>
    <div>
      <label for="album-genre">Album genre:</label>
      <input id="album-genre" type="text" name="album-genre" required>      
    </div>
    <div>
      <label for="album-cover">Link to album cover:</label>
      <input id="album-cover" type="url" name="album-cover" required>      
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  <h2>Here's a list of all albums:</h2>
  <% @albums.each do |album| %>
    <p><a href="/album/<%= album.id %>"><%= album.title %></a></p>
  <% end %>
</body>
</html>